apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
data:
  fluent.conf: |
    # First log source (tailing a file at /var/log/app.log)
    <source>
      @type tail
      format none
      path /var/log/app.log
      pos_file /var/log/app.log.pos
      tag count.format1
    </source>

    <match **>
        @type elasticsearch
        host xxx.xxx.xxx.xxx
        port 9200
        user your-user-here
        password your-password-here
        logstash_format true
    </match>